<div class="report-card">
  <h3>What's wrong?</h3>

  <p>The car2go vehicle {{vehicle.name}}&hellip;</p>
  <ul class="report-option-list">
    <li><a {{action 'submitReport' 'VEHICLE_INCORRECT_LOCATION'}}>&hellip; isn’t here.</a></li>
    <li><a {{action 'submitReport' 'VEHICLE_PARKING_VIOLATION'}}>&hellip; is not following parking rules.</a></li>
    <li><a {{action 'submitReport' 'VEHICLE_DAMAGED'}}>&hellip; is damaged.</a></li>
    <li><a {{action 'submitReport' 'VEHICLE_DIRTY'}}>&hellip; is dirty.</a></li>
  </ul>
</div>
